@page "/todo"
@using BlazorTodo.Shared

<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => todo.IsDone))</h3>

@if (todos != null)
{
    <ul>
        @foreach (var todo in todos)
        {
            <li>
                <input type="checkbox" @bind="todo.IsDone" />
                <input @bind="todo.Title" />
                <button @onclick="() => DeleteTodo(todo)">Delete</button>
                <button @onclick="() => UpdateTodo(todo)">Edit</button>
            </li>
        }
    </ul>
}

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="CreateTodo">Add todo</button>


@code {
    private string? newTodo;
    private TodoItem[]? todos;
    TodoItem todo = new();

    private void AddTodo()
    {
        todo.Title = newTodo;
        var httpResult = await http.PostAsJsonAsync<TodoItem>("api/Todo/CreateTodo", todo);

        if (httpResult.IsSuccessStatusCode)
        {
            Console.WriteLine("SUCCESS");
            newTodo = string.Empty;
        }
        else
        {
            Console.WriteLine("FAIL");    
        }
    }

    protected override async Task OnInitializedAsync()
    {
        todos.Remove(todo);
    }

    public async Task UpdateTodo(TodoItem todo)
    {
        var updateTodo = await http.PatchAsJsonAsync<TodoItem>("api/Todo/UpdateTodo", todo);
        
        if (updateTodo.IsSuccessStatusCode)
        {
            Console.WriteLine("SUCCESS");
        }
        else
        {
            Console.WriteLine("FAIL");
        }
    }

    public async Task DeleteTodo(TodoItem todo)
    {
        var deleteTodo = await http.PostAsJsonAsync<TodoItem>("api/Todo/DeleteTodo", todo);

        if (deleteTodo.IsSuccessStatusCode)
        {
            Console.WriteLine("SUCCESS");
        }
        else
        {
            Console.WriteLine("FAIL");
        }
    }
}
